<nz-layout class="layout">
  <nz-header class="header">
    {{ oem.name }}
  </nz-header>
  <nz-content class="content">
    <nz-row [nzGutter]="[{ xs: 8, sm: 16, md: 24 },{ xs: 8, sm: 16, md: 24 }]">
      @for (app of apps; track app.id) {
        <nz-col class="app" (click)="openMenu(app)" [nzXs]="8" [nzSm]="6" [nzMd]="4" [nzLg]="3">
          <img class="icon" [src]="app.icon || '/app.png'" alt="app"/>
          <div class="name">
          <span class="inner">
              {{ app.name }}
          </span>
          </div>
        </nz-col>
      }
    </nz-row>
  </nz-content>

  <nz-footer class="footer">
    <span class="start" nz-dropdown nzTrigger="click" [nzDropdownMenu]="start" nzPlacement="topRight">
      <i nz-icon nzType="bars"></i>
      开始
    </span>
    <nz-dropdown-menu #start>
      <ul nz-menu nzTheme="light">
        @for (menu of menus; track menu) {
          <li nz-submenu [nzTitle]="menu.name" [nzIcon]="menu.nz_icon">
            <ul>
              @for (item of menu.items; track item) {
                <li nz-menu-item (click)="openMenu(item)">
                  {{ item.name }}
                </li>
              }
            </ul>
          </li>
        }
        <li nz-submenu nzTitle="个人中心" nzIcon="user">
          <ul>
            <li nz-menu-item (click)="switchAdmin()">切换菜单模式</li>
            <li nz-menu-item nzDisabled>个人中心</li>
            <li nz-menu-divider></li>
            <li nz-menu-item (click)="logout()">退出</li>
          </ul>
        </li>
      </ul>
    </nz-dropdown-menu>

    <div class="tab">
      @for (item of windows; track item.id) {
        <!-- *ngIf="item.tab" -->
        <div class="tab-btn"
             (click)="activeTab(item.id)"
             (dblclick)="onClose(item.id)"
             [ngClass]="{active:item.zIndex>0}">
          {{ item.title }}
        </div>
      }
    </div>
  </nz-footer>
</nz-layout>


@for (item of windows; track item.id) {
  <app-window [id]="item.id" [index]="item.zIndex" [title]="item.title" [url]="item.url" [show]="item.show"
              (onHide)="onHide($event)" (onClose)="onClose($event)" (onIndexChange)="activeWindow($event)">
  </app-window>
}
