@if (content) {
  @if (content.template == 'info') {
    <nz-card [nzTitle]="content.title" [nzExtra]="extra">
      <smart-toolbar #toolbar *ngIf="content.toolbar" [fields]="content.toolbar" [values]="toolbarValue" (action)="execute($event)"></smart-toolbar>
      <smart-info [fields]="content.items || []" [value]="data" (action)="execute($event)"></smart-info>
    </nz-card>
    <ng-template #extra>
      <button nz-button nzType="link" (click)="load()" class="load" *ngIf="content.load_api">
        <span nz-icon nzType="reload" [nzSpin]="loading"></span>
        刷新
      </button>
    </ng-template>
  } @else {
    模板类型应该是info
  }
} @else {
  <nz-spin nzSimple></nz-spin>
}
