@if (error) {
<nz-result nzStatus="404" [nzTitle]="error" style="pointer-events: auto">
  <div nz-result-extra class="extra">
    <a nz-button nzType="primary" routerLink="/">返回首页</a>
  </div>
</nz-result>
} @else if (content) {

@if (content.title) {

<nz-card [nzTitle]="content.title" [nzExtra]="extra" [nzBodyStyle]="content.bodyStyle" style="pointer-events: auto">
  <div #container></div>
</nz-card>
<ng-template #extra>
  @if (content.load_api) {
  <button nz-button nzType="link" (click)="componentRef?.instance?.load()" class="load">
    <span nz-icon nzType="reload" [nzSpin]="componentRef?.instance?.loading"></span>
    刷新
  </button>
  }
</ng-template>

} @else {
<div #container></div>
}


@if (content.children) {
<div nz-row>
  @for (p of content.children; track p) {
  <div nz-col [nzSpan]="p.span || 24" [nzMd]="p.span || 24" nzXs="24" nzSm="24" [nzPush]="p.push || 0">
    <app-page [page]="p.page"
              [content]="p.content"
              [ngStyle]="p.content?.style"
              [params]="p.params || params"
              [isChild]="true"></app-page>
  </div>
  }
</div>
}

@if (content.overlay) {
<div style="z-index: 100; position: absolute; inset: 0; pointer-events: none;">
  <app-page [page]="content.overlay.page"
            [content]="content.overlay.content"
            [ngStyle]="content.overlay.content?.style"
            [params]="content.overlay.params || params"
            [isChild]="true"></app-page>
</div>
}

@if (content.tabs) {
<nz-tabs nzSize="large" style="pointer-events: auto">
  @for (p of content.tabs; track p) {
  <nz-tab [nzTitle]="p.title || 'untitled'">
    <ng-template nz-tab>
      <app-page [page]="p.page"
                [content]="p.content"
                [ngStyle]="p.content?.style"
                [params]="p.params || params"
                [isChild]="true"></app-page>
    </ng-template>
  </nz-tab>
  }
</nz-tabs>
}


} @else {
<nz-spin nzSimple></nz-spin>
}
