/* You can add global styles to this file, and also import other style files */

.ant-modal-close-x {
  //background-color: white;
  //border-radius: 50%;
  //margin-right: -10px;
  //margin-top: -10px;
  //background-color: #188ffe;
  //height: 40px;
}

html,body{
  height: auto!important;
  width: auto!important;
  overflow: auto;
}
